/* 
* Autor: Germán Aliprandi
* Github: https://github.com/galiprandi/css-toolset.css
*
* Find the perfect palette by mixing search terms. 
* visit: https://coolors.co/palettes/trending
*
*/

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

:root {
  --text: #262626;
  /* --text: teal; */
  --hover: #e76f51;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  color: t;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

* + * {
  margin-bottom: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.07rem;
  line-height: 1.5;
}

/******************************************************************
*   Elements styles
*******************************************************************/
/* nav element */
nav {
  /* background: var(--text); */
  /* color: white; */
  padding: 1rem;
  /* margin: 0.8rem 0; */
  border-radius: 0.4rem;
}

nav > * {
  margin: 0;
}
nav.title {
  text-align: center;
  font-weight: bold;
}

/* head element */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: revert;
  text-align: center;
  font-family: inherit;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: var(--hover);
  border-bottom: 1px solid var(--text);
}
/* paragraph element */
p {
  text-align: justify;
}

/* anchor element */
a {
  color: inherit;
  font-weight: 600;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

/* em element */
em {
  font-weight: bolder;
}
/* blockquote element */
blockquote {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.5rem solid var(--hover);
  border-top: 0;
  border-bottom: 0;
  background-color: rgba(1, 1, 1, 0.09);
  margin-left: 0;
  margin-right: 0;
}

/* list element */
ul,
ol {
  padding-left: 0;
}

ul li,
ol li {
  margin: 1rem;
}
ul > span,
ol > span {
  font-weight: bold;
  text-decoration: underline;
}

/* hr element */
hr {
  border: 1px dashed;
  opacity: 0.7;
}

/* button elements */
button,
input[type="submit"] {
  all: unset;
  transition: all 100ms linear;
  border: 1px solid var(--text);
  border-radius: 0.3rem;
  cursor: pointer;
  line-height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
}

button:hover {
  color: var(--hover);
  border-color: var(--hover);
}

button.big {
  display: block;
  width: -moz-available;
}

/*
button,
input[type="submit"] {
  transition: all 100ms linear;
  outline: 0;
  border: 1px solid var(--text);
  border-radius: 0.3rem;
  cursor: pointer;
  line-height: 3rem;
  padding: 0 1.5rem;
  margin: 0.5rem 0;
  background-color: inherit;
}
button:hover,
input[type="submit"]:hover {
  color: var(--hover);
  border-color: var(--hover);
}
button.solid:hover {
  color: white;
  background-color: var(--hover);
}
button.inverted:hover {
  color: white;
  background-color: var(--text);
  border-color: var(--text);
}

button.big {
  display: block;
  width: 100%;
}
*/

/*
* from elements
*/
form * {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
}

fieldset {
  padding: 1rem;
  border-radius: 0.3rem;
}

label {
  margin: 0;
}

input,
select,
textarea {
  outline: 0;
  border: 1px solid var(--text);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

input:hover,
input:focus select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border-color: var(--hover);
}

textarea {
  min-height: 10rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: block;
  width: auto;
  transform: scale(1.5);
}

/*
* Tables
*/
table {
  width: 100%;
  line-height: 2;
}

thead tr {
  color: var(--hover);
  text-align: left;
}

thead th {
  border-bottom: 1px solid var(--text);
}

th,
td {
  list-style: 2rem;
}

tbody tr:nth-child(2n + 1) {
  background-color: rgba(94, 94, 94, 0.1);
}

tbody tr:hover {
  outline: 1px solid;
  outline-color: var(--hover);
}

tfoot td {
  border-top: 1px solid var(--text);
}

/*
* .Sep
* .separation
* Invisible 1rem separation (only for hr tags)
*/
hr.separation,
hr.Sep {
  padding: 1rem;
  border: none;
  margin: 0;
}

/*
* .Sol
* .solid
* Element with color background I define in the variable --hover.
*/
.solid,
.Sol {
  background-color: var(--text);
  color: white;
}
button.Sol:hover,
button.solid:hover {
  background-color: var(--hover);
  color: white;
}
/*
* .Out
* .outline
* Remove the border from the elements
*/
.outline,
.Out {
  border: 0;
}
/*
* .flat
* Remove the rounded edges.
*/
.inverted.flat,
.flat {
  border-radius: 0;
}
/*
* .Inv
* .inverted
* Inverts the colors defined in the variables --text and --hover.
*/
.inverted,
.Inv {
  background-color: var(--hover);
  color: white;
}
p.inverted,
p.Inv {
  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}

button.Inv,
button.inverted {
  border-color: var(--hover);
}
button.Inv:hover,
button.inverted:hover,
input[type="submit"]:hover {
  color: white;
  border-color: var(--text);
  background-color: var(--text);
}

/*
* .Com
* .complementary
* Swap colors for their complements.
*/
.complementary,
.Com {
  filter: hue-rotate(180deg);
}
