:root {
  --text: #262626;
  --hover: #e76f51;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1.1rem;
  color: var(--text);
  letter-spacing: 0.076rem;
  font-weight: 400;
}
nav {
  background: var(--text);
  color: white;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border-radius: 0.4rem;
}
nav > * {
  font-weight: bold;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
ul,
ol {
  padding-left: 1rem;
}
ul > h1,
ol > h1 {
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid;
  margin: 0.3rem 0;
  margin-right: 20%;
}
a {
  color: inherit;
  font-weight: 600;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
a:hover {
  color: var(--hover);
}
p {
  text-align: justify;
}
em {
  font-weight: bolder;
}
blockquote {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.5rem solid var(--hover);
  border-top: 0;
  border-bottom: 0;
  margin: 1.5rem 0;
  background-color: rgba(1, 1, 1, 0.09);
}
hr {
  border: 1px dashed;
  opacity: 0.7;
  margin: 3rem 0;
}
/*
* button
 */
button:hover {
  color: var(--hover);
  border-color: var(--hover);
}
button.solid:hover {
  color: white;
  background-color: var(--hover);
}
button.inverted:hover {
  color: white;
  background-color: var(--text);
  border-color: var(--text);
}
button,
input[type="submit"] {
  transition: all 100ms linear;
  outline: 0;
  border: 1px solid;
  border-radius: 0.3rem;
  cursor: pointer;
  line-height: 3rem;
  padding: 0 1.5rem;
  margin: 0.5rem 0;
}
button.big {
  display: block;
  width: 100%;
}

/*
* from
*/
 select:hover {
  border-color: var(--text);
  color: var(--text);
}
form * {
	display: block;
	width: 100%;
	font-size: 1rem;
	font-family: unset;
	margin: .5rem 0;
}
fieldset {
	border-radius: 0.3rem;
	border: 1px solid;
	padding: 1rem;
}
label {
  opacity: 0.6;
  padding-left: .5rem;
}
input, select, textarea {
	border: 1px solid;
	line-height: 2.3rem;
	border-radius: 0.3rem;
	padding-left: 1rem;
	cursor: pointer;
	outline: 0;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:focus,
select:hover
{
  outline: 0;
  border-color: var(--hover);
}
select {
  padding: 0.3rem;
}
input[type="checkbox"], input[type="radio"] {
	width: auto;
}

/*
*  .title
*/
nav.title {
  font-size: 1.2rem;
  text-align: center;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: var(--hover);
  border-bottom: 2px solid var(--text);
  padding-bottom: 0.8rem;
}
/*
* .separation
*/
hr.separation {
  padding: 1rem;
  border: none;
  margin: 0;
}

/*
* .solid
*/
.solid {
  background-color: var(--text);
  color: white;
}
/*
* .outline
*/
.outline {
  border: none;
}
/*
* .flat
*/
.inverted.flat,
.flat {
  border-radius: 0;
}
/*
* .inverted
*/
.inverted {
  background-color: var(--hover);
  color: white;
}
p.inverted {
  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}
